node_modules
.env*
!.env.example
.eve
.vercel
.workflow-data
.next
next-env.d.ts
.output
.nitro
dist
.DS_Store
*.tsbuildinfo
.env*.local

apps/web/.next
apps/web/.nuxt
apps/web/.output
apps/web/node_modules
